[Unit]
Description=Play Video

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStart=lxterminal -e "/home/pi/Desktop/playVideo.sh"
Restart=always
RestartSec=1s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=graphical.target
